@model BizLayer.BlogsAnalysis.Concrete.AnalysisResult

<h2>Analysis</h2>

@if (TempData["message"] != null)
{
    <div class="text-success">@TempData["message"]</div><br />
}
@if (TempData["errorMessage"] != null)
{
    <div class="text-danger">@TempData["errorMessage"]</div>
}

<div>
    <h4>AnalysisResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloggerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloggerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumPosts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumPosts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongestWordCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongestWordCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortestWordCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortestWordCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageWordCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageWordCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<div class="small">
    <p>This is a demonstration of calling a piece of business logic and returning a view.</p>
</div>

