
@{
    ViewBag.Title = "Index";
}

@*This isn't used any more, but its how a modal panel is done in bootstrap*@
<div id="indeterminate-panel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content centeredImage">
            <p>The action is currently running...</p>
            <br />
            <img id="loading" alt="Running ..." src="../../Content/img/ajax-loader.gif" style="float:" />
            <p>&nbsp;</p>
        </div>
    </div>
</div>

<div id="action-panel" class="hidden overflow-hidden" title="Action Progress">
    <div id="progressbar"></div>
    <div id="message-container" class="overflow-auto">
    </div>
    <div class="action-lower-menu">
        <button id="action-button" class="btn btn-default">Invalid</button>
    </div>
</div>

<h2>Handling long running methods</h2>

@if (TempData["message"] != null)
{
    <div class="text-success">@TempData["message"]</div>
    <br />
}
<p>
    This page shows a number of ways of running a long-running method. <br/>
    Please click one of buttons below to try different options.
</p>

<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            Explanation
        </th>
    </tr>
    <tr>
        <td>
            <a class="btn btn-primary btn-default" href="@Url.Action("Radio4Search")" style="width: 150px;">Radio4 Search</a>
        </td>
        <td>
            This action requests data from Radio4 and searches it for your selection.<br />
            <em>Redirects user to page to enter data before running the action async.</em>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" id="immediate-action" class="btn btn-primary btn-sm" onclick="" style="width: 150px;" data-iterations="3">Immediate, modal</button>
        </td>
        <td>
            This immediately runs a method and shows a modal box with progress.<br />
            <em>Runs immediately with progress and messages. Button says 'Cancel'. On finish the panel stays up.</em>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm" href="@Url.Action("CommsWithData")" style="width: 150px;">Input, then modal</a>
        </td>
        <td>
            Enter data to hand to method before running in a modal panel with progress.<br />
            <em>Redirects user to page to enter data before running the action.</em>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" id="indeterminate-action" class="btn btn-primary btn-sm" style="width: 150px;" data-id="123" data-foo="bar">Indeterminate</button>

        </td>
        <td>
            This immediately runs a method while showing a rotating icon when running. <br/>
            <em>Runs immediately just spinning progress icon and button saying 'Running...'.<br/>
             When it finishes the panel dissappears but it stays on the same page.</em>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" id="successExit-action" class="btn btn-primary btn-sm" onclick="" style="width: 150px;" data-iterations="4">Immediate, jump after</button>
        </td>
        <td>
            This immediately runs a method and shows a modal box with progress. Jumps to home on finish.<br />
            <em>Runs immediately with progress and messages. Button says 'Cancel'. Jumps to home on finish.</em>
        </td>
    </tr>
</table>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/ActionRunner")

    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        ActionRunner.startActionFromLink('#immediate-action', '@Url.Action("Immediate")');
        ActionRunner.startActionFromLink('#successExit-action', '@Url.Action("SuccessExit")',
            { header: 'Will goto Home when finished', successAction: '@Url.Action("Index", "Home")' });
        ActionRunner.startActionFromLink('#indeterminate-action', '@Url.Action("Indeterminate")');
    });
    </script>

}