@{
    var controllerName = @ViewContext.RouteData.Values["Controller"].ToString();
    var actionName = @ViewContext.RouteData.Values["Action"].ToString();
}

<ul class="nav nav-tabs" role="tablist">
    <li @if (controllerName == "Security") { <text> class="active" </text> }>
        @Html.ActionLink("Intro", "Index", "Security")
    </li>
    <li @if (controllerName == "Courses") { <text> class="active" </text>  }>
        @Html.ActionLink("Courses", "Index", "Courses")
    </li>
    <li @if (controllerName == "Attendees") { <text> class="active" </text>   }>
        @Html.ActionLink("Attendees", "Index", "Attendees")
    </li>
    <li class="pull-right" style="margin-top: 12px">@{ Html.RenderAction("PartialUsers", "Security"); }</li>
</ul>
