@model ServiceLayer.CourseServices.CourseDetailDto

@{
    ViewBag.Title = "Details";
}
@Html.Partial("SecuritySubMenu")
<h2>Details</h2>

<div>
    <h4>CourseDetailDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPresenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPresenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendeesNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeesNames)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
