@model SampleWebApp.Models.AboutInfo

<div>
    <h4>About Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkerThreads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerThreads)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AvailableThreads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableThreads)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
